{{ attach_library('chat_handle/global-styling') }}
{{ attach_library('chat_handle/global-scripts') }}

{% if logged_in %}
    <div class="cp-advanced-page {% if node.field_page_id is not empty %}cp-advanced-page--{{node.field_page_id.value}}{% endif %}">
        <section class="co-content">
            <div class="co-content__interface">
                <div class="co-content__interface-chat-list">
                    <div class="co-content__interface-titolo">
                        Chat: <span>{{node.field_titolo.value}}</span>
                    </div>
                    <div class="co-content__interface-chat-list-elem co-content__interface-chat-list-elem--intro js-choose-db">
                        <div class="co-content__interface-chat-list-elem-inner co-content__interface-chat-list-elem-inner--intro">
                            <div class="co-content__interface-chat-list-elem-inner-img">
                                <img src="{{imgsUrl}}/commons/db.svg" alt="scelta db" class="js-choose-db-img">
                            </div>
                            <div class="co-content__interface-chat-list-elem-inner-content js-choose-db-content">
                                <div class="co-content__interface-chat co-content__interface-chat--system co-content__interface-chat--intro js-int-intro">
                                    <span>
                                        Ciao&#33; Sono FiscalBOT, l'assistente virtuale di FISCALFOCUS. La mia funzione
                                        principale &egrave; fornire informazioni
                                        accurate e rilevanti, basate sulla nostra esperienza in ambito fiscale.<br>
                                        <br>
                                        Per iniziare, occorre selezionare il database </br>
                                        </br>
                                        <b>se in seguito vuoi cambiarlo, clicca sull'icona!</b>
                                    </span>
                                    <div class="co-content__interface-scelta-db">
                                        <span class="ca-general-button js-fiscalfocus-db" data-db-value="AGE">
                                            Interpelli Agenzia Entrate
                                        </span>
                                        <span class="ca-general-button js-fiscalfocus-db" data-db-value="PAR">
                                            Pareri FiscalFocus
                                        </span>
                                        <span class="ca-general-button js-fiscalfocus-db" data-db-value="DOC">
                                            Documentazione Interna
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="co-content__interface-input-box">
                    <textarea id="chat-input" class="co-content__interface-input js-interface-input" rows="1"
                        placeholder="La tua domanda"></textarea>
                    <div class="co-content__interface-input-btn-send js-interface-input-send">
                        <img src="{{imgsUrl}}/commons/send.svg" alt="Send icon">
                    </div>
                </div>
            </div>

            <div class="co-content__risorse-ico js-open-risorse">
                <span>
                    Risorse
                </span>
                <img src="{{imgsUrl}}/commons/resources.svg" alt="Send icon">
            </div>

            <div class="co-content__risorse">
                <div class="co-content__risorse-inner">
                    <div class="co-content__risorse-titolo">
                        Risorse
                    </div>
                    <div class="co-content__risorse-list">
                                                
                    </div>
                </div>
            </div>
        </section>
    </div>

{% else %}

    <div class="cp-user cp-user--login">
        <div class="cp-user__inner-box">
        <div class="cp-user__logo">
            <a href="{{baseUrl}}/home" class="gen-d-block gen-img-w-100">
            <img src="{{imgsUrl}}/commons/logo-top.svg" class="gen-img-w-100" alt="Twiza - FiscalFocus">
            </a>
        </div>
        <div class="cp-user__inner cp-user__inner--login">
            {{ drupal_entity('block', 'fiscalfocus_accesso_utente') }}
            <div class="cp-user__actions">
            {# Nuovo utente? <a href="{{baseUrl}}/user/register">Registrati</a> <br><br> #}
            Password dimenticata? <a href="{{baseUrl}}/user/password">Ripristina</a> 
            </div>
        </div>
        </div>
    </div>

{% endif %}


<div id="modal-inizio" class="modal fade co-modal" aria-hidden="true" data-bs-keyboard="false" aria-labelledby="modal-inizio" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-frame">
                <h5 class="modal-title" id="modal-inizio">&nbsp;</h5>
                <span class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
            </div>
            <div class="modal-body modal-body-frame">
                <div class="cp-user__actions cp-user__actions--gradual-lab">
                    <h2>
                        Attenzione!
                    </h2>
                    <p>
                        Per iniziare la conversazione devi inserire una domanda
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-inizio-db" class="modal fade co-modal" aria-hidden="true" data-bs-keyboard="false" aria-labelledby="modal-inizio-db" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-frame">
                <h5 class="modal-title" id="modal-inizio-db">&nbsp;</h5>
                <span class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
            </div>
            <div class="modal-body modal-body-frame">
                <div class="cp-user__actions cp-user__actions--gradual-lab">
                    <h2>
                        Attenzione!
                    </h2>
                    <p>
                        Per iniziare la conversazione devi selezionare un database tra quelli proposti
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-check-scelta" class="modal fade co-modal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modal-check-scelta" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-frame">
                <h5 class="modal-title" id="modal-check-scelta">&nbsp;</h5>
                <span class="btn-close" aria-label="Close"></span>
            </div>
            <div class="modal-body modal-body-frame">
                <div class="cp-user__actions cp-user__actions--gradual-lab">
                    <h2>
                        Attenzione!
                    </h2>
                    <p>
                        Stai cambiando il database di riferimento. </br>
                        Desideri continuare la conversazione attuale </br>
                        oppure preferisci ripartire da zero con il nuovo database selezionato?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="ca-general-button ca-general-button--orange js-check-continua" data-bs-dismiss="modal">Continua attuale</button>
                <button type="button" class="ca-general-button js-check-nuova" data-bs-dismiss="modal">Nuova conversazione</button>
            </div>
        </div>
    </div>
</div>

