{# {{ attach_library('chat_handle/global-styling') }}
{{ attach_library('chat_handle/global-scripts') }} #}

<div class="cp-advanced-page cp-advanced-page--chat">
        <section class="co-content">
            <div class="co-content__interface">
                <div class="co-content__interface-chat-list">
                    <div class="co-content__interface-titolo">
                        Chat: <span>{{titolo}}</span>
                    </div>
                    {{elencoChat}}
                </div>
            </div>

            <div class="co-content__risorse">
                <div class="co-content__risorse-inner">
                    <div class="co-content__risorse-titolo">
                        Risorse
                    </div>
                    <div class="co-content__risorse-list">
                        {{elencoRisorse}}                  
                    </div>
                </div>
            </div>
        </section>
    </div>